body {
    background-color: silver;
    background-image: url("../images/bg.png");
    background-repeat: repeat-x;
    background-size: 600px;
    color: darkblue;
}

ul {
    background-color: black;
    height: 55px;
    width: 95%;
    box-shadow: 5px 5px;
    color: rgba(0, 9, 4, 0.64);

}

li {
    display: inline-block;
    width: 300px;
    padding: 5px 5px 5px 5px;
    margin-left: 45px;
    margin-top: 5px;
    text-align: center;
    color: white;
    text-decoration: white;
    font-size: 20px;
}

a {
    color: white;
}

a:hover {
    color: gold
}

#wrapper {
    background-color: white;
    max-width: 60%;
    margin: 0 auto;
    padding: 2em 2em;
}

footer {
    text-align: center;
    padding-top: 2em;

}

#article_wolfs img {
    margin-left: 70%;
}

#menu img {
    padding-top: 5px;
}

#menu img:hover {
    transform: scale(1.1);
}

header img {
    margin-left: 20%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    margin-left: 46%;
}

#panel {
    position: fixed;
    top: 50px;
    right: -272px;
    z-index: 99999;
    transition: right 0.5s ease-out 0s;
}

#panel:hover {
    right: 0;
}

#panel #content {
    width: 250px;
    height: 300px;
    padding: 10px;
    border-top: 2px solid black;
    border-right: none;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    z-index: 20;
    background: #FFFFFF;
    position: relative;
    border-radius: 10px 0 0 10px;
    top: 300px;
}

#panel #title {
    width: 150px;
    border: 2px solid black;
    background: white;
    color: black;
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    padding: 5px 5px 25px 5px;
    text-align: center;
    position: relative;
    top: 500px;
    left: -90px;
    transform: rotate(-90deg);
    z-index: 1;
}

label {
    color: black;
    margin-left: 90px;
    display: inline-block;;

}

form {
    display: inline-block;
    width: 250px;
    border-color: black;
    border-width: 2px;
}

textarea {
    height: 100px;
    width: 240px;
    resize: horizontal;
    line-height: 1.4em;
    background-color: snow;
    border-color: black;
    border-width: 2px;
    box-shadow: black;
}

input[type="submit"] {
    width: 250px;
    color: white;
    background-color: black;
    box-shadow: darkblue;
    border-color: black;
    border-width: 2px;

}

input[type="text"] {
    width: 250px;
    color: white;
    background-color: white;
    box-shadow: darkblue;
    border-color: black;
    border-width: 2px;

}
