body {
    background-color: white;
    color: darkblue;
}

h1 {
    text-align: center;
}

ul {
    background-color: black;
    height: 25px;
    box-shadow: 5px 5px;
    color: rgba(0,9,4,0.64);

}

li {
    display: inline-block;
    width: 400px;
    margin-left: 25px;
    text-align: center;
    color: white;
    text-decoration: white;
}

a { color: white;}

a:hover { color: gold}